 <!DOCTYPE html>
    <html lang="en">
        <head>
             <link rel="stylesheet" href="/css/home.css"/>
        </head>
        
        <!--<body onload="getLocation()">-->
        <body>
            <main role="main" class="inner-cover">
                {{#if user}}
                <p>Click the button to get your coordinates.</p>
                
                <button onclick="getLocation()">Try It</button>
                
                <p id="demo">ACA</p>
                
                <script>
                    var x = document.getElementById("demo");
                    console.log("ENTRA")

                    function getLocation() {
                        console.log("ENTRA A GETLOCATION")
                        if (navigator.geolocation) {
                            console.log("LLAMA A SHOWPOSITION");
                            navigator.geolocation.getCurrentPosition(showPosition);
                        } else { 
                            x.innerHTML = "Geolocation is not supported by this browser.";
                        }
                    }

                    function showPosition(position) {
                        console.log("ENTRA A SHOWPOSITION");
                        console.log(position);
                        x.innerHTML = "Latitude: " + position.coords.latitude + 
                        "<br>Longitude: " + position.coords.longitude;
                    }
                </script>

                {{else}}
                    <h1 class="cover-heading">¿A dónde vas?</h1>
                    <p class="lead">Basado en los lugares en que recorres con tu celular podrás ver los sitios a los que vas en el mapa e incluso tus rutas</br> ¿Qué esperas para registrarte?</p>
                    <a href="/users/register">
                        <img src="/images/mapicon.png" alt="map">        
                    </a>
                {{/if}} 
            </main>
            
        </body>
</html>
