<!DOCTYPE html>
    <html lang="en">
        <head>
             <link rel="stylesheet" href="/css/home.css"/>
        </head>
        
        
        <body onload="cargarmap()">
            
            <main role="main" class="inner-cover">
            <meta http-equiv="refresh" content="60">
                {{#if user}}

                <!-- Se determina y escribe la localizacion -->

                <div id="demo"></div>
                <div id="mapholder"></div>
                <div id='ubicacion'>Cargando tu ubicación...</div>
                <!--<form method="post" action="/users/location" id="form" name='form' onsubmit="setTimeout('document.forms[0].reset()', 2000)">
                    <input id="latitude"  class="form-control" name="latitude" placeholder="latitude">
                    <input  class="form-control" name="longitude" placeholder="longitude" id="longitude">
                </form>-->

                <script type="text/javascript">
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(mostrarUbicacion);
                    } else {
                        alert("¡Error! Este navegador no soporta la Geolocalización.");
                    }
                    function mostrarUbicacion(position) {
                        var latitud = position.coords.latitude;
                        var longitud = position.coords.longitude;
                        var div = document.getElementById("ubicacion");
                        div.innerHTML = "Latitud: " + latitud + "<br>Longitud: " + longitud;    
                    }

                    function refrescarUbicacion() {
                        navigator.geolocation.watchPosition(mostrarUbicacion);
                    }

                </script>

                <!-- Se escribe un mapa con la localizacion anterior
                <div id="demo"></div>
                <div id="mapholder"></div>-->
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOhIkbOglhBq0Y0Ka08iROiG_xqOKFIsA"></script>
                <!--
                <button onclick="cargarmap()">Cargar mapa</button>-->


                <script type="text/javascript">
                    var x=document.getElementById("demo");
                    function cargarmap(){
                        navigator.geolocation.getCurrentPosition(showPosition,showError);

                    function showPosition(position){
                        lat=position.coords.latitude;
                        lon=position.coords.longitude;
                        latlon=new google.maps.LatLng(lat, lon)
                        mapholder=document.getElementById('mapholder')
                        mapholder.style.height='400px';
                        mapholder.style.width='600px';
                        var myOptions={
                            center:latlon,zoom:15,
                            mapTypeId:google.maps.MapTypeId.ROADMAP,
                            mapTypeControl:false,
                            navigationControlOptions:{style:google.maps.NavigationControlStyle.SMALL}
                            };
                        var map=new google.maps.Map(document.getElementById("mapholder"),myOptions);
                        var marker=new google.maps.Marker({position:latlon,map:map,title:"You are here!"});
                        document.getElementById("latitude").value = position.coords.latitude;
                        document.getElementById("longitude").value = position.coords.longitude;   
                        document.form.latitude.value;
                        document.form.longitude.value;
                        document.form.submit();
                    }

                function showError(error){
                switch(error.code)
                    {
                    case error.PERMISSION_DENIED:
                    x.innerHTML="Denegada la peticion de Geolocalización en el navegador."
                    break;
                    case error.POSITION_UNAVAILABLE:
                    x.innerHTML="La información de la localización no esta disponible."
                    break;
                    case error.TIMEOUT:
                    x.innerHTML="El tiempo de petición ha expirado."
                    break;
                    case error.UNKNOWN_ERROR:
                    x.innerHTML="Ha ocurrido un error desconocido."
                    break;
                    }
                }}
                </script>

                

                
                  <!--  <div id="googleMap" style="width:100%;height:400px;"></div>
                    <p id="demo" name="demo">Tu ubicación se está cargando...</p>
                    
                    <form  id= "myForm" name="sumb" method="post" action="/users/location" id="fm">
                    <form method="post" action="/users/location" id="myForm" name='form' onsubmit="setTimeout('document.forms[0].reset()', 2000)">
                        <input type="text" id="lat" class="form-control"  name="lat" placeholder="Latitude"required autofocus>
                        <input type="text" id="lng" class="form-control"  name="lng" placeholder="Longitud"required autofocus>
                    </form>

                    <script type="text/javascript">
                        var x = document.getElementById("demo");

                        function getLocation() {
                            if (navigator.geolocation) {
                                
                                console.log("llama a currentPosition")
                                navigator.geolocation.getCurrentPosition(showPosition);
                                console.log("llama a info")
                                navigator.geolocation.getCurrentPosition(info);
                            } else {
                                x.innerHTML = "Geolocation is not supported by this browser.";
                            }
                        }
                        function showPosition(position) {
                            console.log("position",position)
                            var positionInfo = "Tu ubicación es: </br>" + "Latitud: " + position.coords.latitude + ", " + "</br> Longitud: " + position.coords.longitude;
                            document.getElementById("demo").innerHTML = positionInfo;
                            var myCenter = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
                            var mapCanvas = document.getElementById("googleMap");
                            var mapOptions = {center: myCenter, zoom: 15};
                            var map = new google.maps.Map(mapCanvas, mapOptions);
                            var marker = new google.maps.Marker({position:myCenter});
                            marker.setMap(map);
                            
                            
                        }
                        function info(position) {    
                            document.form.lat.value ;
                            document.form.lng.value;
                            document.form.submit(); 
                            console.log("NO HAY ERROR")
                            /*
                            document.form.submit(); 
                            console.log("ENTRA A INFO")
                            var a1 = document.getElementById("lat");
                            a1.value = position.coords.latitude; 
                            var a2 = document.getElementById("lng");
                            a2.value = position.coords.longitude; 
                            document.getElementById("myForm").submit();
                            addMacker(parseFloat(position.coords.latitude), position.coords.longitude);
                            setTimeout("window.open('https://10.131.137.186', '_self');", 5000);
                            //setTimeout(getLocation,5000);
                        }*/
                    </script>

                   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOhIkbOglhBq0Y0Ka08iROiG_xqOKFIsA&callback=getLocation"></script>
                -->
                {{else}}
                    <h1 class="cover-heading">¿A dónde vas?</h1>
                    <p class="lead">Basado en los lugares en que recorres con tu celular podrás ver los sitios a los que vas en el mapa e incluso tus rutas</br> ¿Qué esperas para registrarte?</p>
                    <a href="/users/register">
                        <img src="/images/mapicon.png" alt="map">        
                    </a>
                {{/if}} 
            </main>
            
        </body>
</html>