<!DOCTYPE html>
    <html lang="en">
        <head></head>
        <body>
            <main role="main" class="inner-cover">
                <h1 class="cover-heading">¿A dónde vas?</h1>
                <p class="lead">Basado en los lugares en que recorres con tu celular podrás ver los sitios a los que vas en el mapa e incluso tus rutas</br> ¿Qué esperas para registrarte?</p>
            </main>
        </body>
</html>